html,body {
	padding: 0;
	margin: 0;
	border: 0 none;
	border-collapse: collapse;
	height:100%;
	display:flex;
	width:100%;
}
body {
	display:flex;
	justify-content:center;;
}
.main {
	max-width:100%;
	display:flex;
	flex-direction:column;
}
.main > * {
	margin-top: 2em;
}
.main > *:last-child() {
	margin-bottom: 2em;
}

#storageForm  label {
	white-space:nowrap;
}
#storageFormMessage {
	background-color:red;
	color:white;
	padding: .5em 1em;
	white-space:pre-line;
}
#storageFormMessage:empty {
	padding:0;
}
#storageList-wrapper {
	overflow:auto;
}

#backupForm {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:rgba(0,0,0,0.6);
	display:none;
}
#backupForm[data-hidden="false"] {
	display:inline-block;
}
#backupForm .content {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color:white;
	padding: 1em 2em;
}

.backupTable {
	border-collapse:collapse;
	margin:1px;
}
.backupTable , .backupTable th{
	border:1px solid;
}
.backupTable td{
	border-width:1px;
	border-style:dashed solid;
	vertical-align:top;
	white-space:nowrap;
}
.backupTable td, .backupTable th{
	padding:.25em .5em;
}
.backupTable td:nth-child(2),.backupTable th:nth-child(2) {
	background-color:#AFA
}
.backupTable td:nth-child(3),.backupTable th:nth-child(3) {
	background-color:#FFA
}
.backupTable td:nth-child(4),.backupTable th:nth-child(4) {
	background-color:#FAA
}
.backupTable+.actions {
	display:flex;
	justify-content:space-between;
}