@import "theme/default";

@import "structure/TableConfig.Select";
@import "style/TableConfig.Select";
@import "structure/Dialog";
@import "style/Dialog";
@import "structure/Tree";
@import "style/Tree";

@import "StorageBrowser";

html,body {
	padding: 0;
	margin: 0;
	border: 0 none;
	border-collapse: collapse;
	display:flex;
	width:100%;
	height:100%;
}
body {
	display:flex;
	flex-direction:column;
}
#actions {
	button {
	 	font-size:1.5em;
	}
	padding-top:1ex;
	display:flex;
	justify-content:space-between;
	&::before,&::after {
		content:"";
		flex-basis:20%;
	}
}
#content {
	flex-grow:1;
	display: flex;
    justify-content: center;
    align-items: center;
}

.addStorageDialog {
	.display-table();
	border-spacing: 1ex;
    border-collapse: separate;

	:invalid {
		box-shadow: 0 0 1ex .25ex red;
	}

    &+.errorMessage {
    	background-color:red;
    	color:white;
    }
}

.compare {
	&.new {
		background-color:#AFA;
	}
	&.changed {
		background-color:#FFA;
	}
	&.missing {
		background-color:#FAA;
	}
}