.StorageBrowser {

	@directoryIcon:"📁";
	@directoryIconExpanded:"📂";
	@directoryIconEmpty:"🗂";
	@fileIcon:"📄";

	height: 100%;
	display:grid;
	grid-template:~'
		"bar				bar		"	auto
		"actions			actions	"	auto
		"search				content	"	auto
		"tree				content	"	1fr
		 / fit-content(50%)		auto';

    .locationbar {
		grid-area: bar;
		border-style:solid;
		border-width: 1px;
		display:flex;
		font-size:134%;
		.PathMenu {
			order:-1;
		}
		[data-action="locate"] {
			flex: 1 0 0;
		}
	}
	[data-action="search"] {
		grid-area: search;
	}

	.storageTree {
		grid-area: tree;
		overflow:auto;
		white-space:nowrap;
	}

	.actions {
		grid-area:actions;
		display:flex;

		padding:1ex 0;

		[data-action] {
			margin:0 1ex;
			font-size:130%;
			background-color:@primaryColor;
			background-repeat:no-repeat;
			background-position: 50% 50%;
			padding:.2ex;
			border: 1px solid @ternaryColor;
			border-radius:.5ex;
			cursor: pointer;
		}
		[data-count]::after {
			content: attr(data-count);
			position: absolute;
			right: 0;
			bottom: 0;
			background-color: @secondaryColor;
			color: white;
			font-weight: bolder;
			border-radius: 100%;
			padding: 0 .5ex;
			transform: translate(25%,25%);
		}
	}
	.content {
		grid-area: content;
		overflow:auto;
		.Table {
			white-space: nowrap;
		}
		.name {
			width:100%;

			&::before {
				margin-right:1ex;
			}
			&[data-type="Directory"]::before {
				content:@directoryIcon;
			}
			&[data-type="File"]::before {
				content:@fileIcon;
			}
		}
	}
	.Tree {
		padding-left: 3ex;
		li[data-type="Directory"]>ul {
			&::before {
				content:@directoryIcon;
			}
			&.expanded::before {
				content:@directoryIconExpanded;
			}
		}
		li[data-type="Directory"]>span:last-child::before {
			margin-left: -1em;
			content:@directoryIconEmpty;
		}
		li[data-type="File"]>span::before {
			margin-left: -1em;
			content:@fileIcon;
		}
	}
}