.StorageBrowser {

	@directoryIcon:"📁";
	@directoryIconExpanded:"📂";
	@directoryIconEmpty:"🗂";
	@fileIcon:"📄";

	height: 100%;
	display:grid;
	grid-template:~'
		"bar				bar		"	auto
		"actions			actions	"	auto
		"search				content	"	auto
		"storageConfig		content	"	auto
		"tree				content	"	1fr
		 / fit-content(50%)		auto';

    .locationbar {
		grid-area: bar;
		border-style:solid;
		border-width: 1px;
		display:flex;
		font-size:134%;
		.PathMenu {
			order:-1;
		}
		label {
			flex: 1 0 0;
			input {
				width:100%;
				font-size:1em;
				box-sizing: border-box;
				opacity:0;
				&:focus {
					opacity:1;
				}
			}
		}

		&:focus-within .PathMenu:not(:focus-within) {
			display:none;
		}
	}
	[data-action="search"] {
		grid-area: search;
	}
	[data-action="storageConfig"] {
		grid-area: storageConfig;
		.action();
	}

	.storageTree {
		grid-area: tree;
		overflow:auto;
		white-space:nowrap;
	}

	.actions {
		grid-area:actions;
		display:flex;

		padding:1ex 0;

		[data-action] {
			margin:0 1ex;
			.action();
		}
		[data-action="showMarked"]
		{
			position:relative;
			&::after {
				content: attr(data-marked);
				position: absolute;
				right: 0;
				bottom: 0;
				background-color: @secondaryColor;
				color: white;
				font-size:50%;
				font-weight: bolder;
				border-radius: 100%;
				padding: 0 .5ex;
				transform: translate(50%,50%);
			}
		}
	}
	.content {
		grid-area: content;
		overflow:auto;
		.Table {
			white-space: nowrap;
		}
		.name {
			width:100%;

			&::before {
				margin-right:1ex;
			}
			&[data-type="Directory"]::before {
				content:@directoryIcon;
			}
			&[data-type="File"]::before {
				content:@fileIcon;
			}
		}
	}
	.Tree {
		padding-left: 3ex;
		li[data-type="Directory"]>ul {
			&::before {
				content:@directoryIcon;
			}
			&.expanded::before {
				content:@directoryIconExpanded;
			}
		}
		li[data-type="Directory"]>span:last-child::before {
			margin-left: -1em;
			content:@directoryIconEmpty;
		}
		li[data-type="File"]>span::before {
			margin-left: -1em;
			content:@fileIcon;
		}
	}
	.content {
		.marked {
			.zebra(spin(@ternaryColor,-135));
		}
	}
}